<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= TITLE %></title>
  </head>

  <body>
    <ul class="nav">
      <li class="nav-item">
        <a href="../index.html">首页</a>
      </li>
      <li class="nav-item">
        <a href="./pageA.html">pageA</a>
      </li>
      <li class="nav-item">
        <a href="./pageB.html">pageB</a>
      </li>
    </ul>

    <img src="<%= require(AVATAR_URL) %>">
  </body>
</html>
